.videos {
    background: rgba(0,0,0,.1);
    min-height: calc(100vh - 60px);
    padding:20px;
    margin-left: 75px;
    margin-top: 60px;
    box-sizing: border-box;
}

/*after 720px adds an aside left menu and this component has m-l 75px*/
@media screen and (max-width :920px) {
    .videos {
      margin-left: 0px;
    }
}