@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
#root {
    min-width: 550px;
}
.youtube_app {
    position: relative;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
/*add to an*/
.app_content {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/*@media screen and (min-width :1500px) {
    .youtube_app {
      margin: 0 auto;
    }
}*/
