.hiddenMenu {
    position: fixed;
    width: 23%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 1002;
    padding: 0 2vw;
    box-sizing: border-box;
    transition: .3s;
    border-right:1px solid rgba(0,0,0,.4);
}
.hidden_menu_link {
    display: flex;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.2vw;
    text-decoration: none;
    align-items: center;
    color: rgba(0,0,0,.6);
    transition: .3s;
}
.hidden_menu_link:hover {
    background-color: rgba(0,0,0,.1);
    padding-right: 2vw;
    margin-left: -2vw;
    padding-left: 2.4vw;
}
.hidden_menu_img {
    height: 1.4vw;
    width: 1.4vw;
    margin-right: 1vw;
    opacity: .5;
}
.line {
    margin-left: -2vw;
    margin-right: -2vw;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width :1000px) {
    .hiddenMenu {
      padding: 0 27px;
    }
    .line {
        margin-left: -27px;
        margin-right: -27px;
    }
    .hidden_menu_link:hover {
        padding-right: 27px;
        margin-left: -27px;
        padding-left: 35px;
    }
    .hidden_menu_link {
        margin-left: -35px;
        padding-left: 35px;
        padding-right: 27px;
        font-size: 16px;
    }
    .hidden_menu_img {
        height: 20px;
        width: 20px;
        margin-right: 15px;
    }
}
@media screen and (max-width :720px) {
    .hiddenMenu {
        width: 100%;
        padding: 0 10px;
      }
    .line {
        margin-left: -10px;
        margin-right: -10px;
    }
    .hidden_menu_link {
        margin-left: -35px;
        padding-left: 35px;
        padding-right: 27px;
        font-size: 20px;
    }
    .hidden_menu_link:hover {
        padding-right: 10px;
        margin-left: -10px;
        padding-left: 25px;
    }
    .hidden_menu_img {
        height: 25px;
        width: 25px;
        margin-right: 15px;
    }
}
@media screen and (max-width :400px) {
    .hidden_menu_link {
        margin-left: -35px;
        padding-left: 35px;
        padding-right: 27px;
        font-size: 30px;
    }
    .hidden_menu_link:hover {
        padding-right: 10px;
        margin-left: -10px;
        padding-left: 25px;
    }
    .hidden_menu_img {
        height: 30px;
        width: 30px;
        margin-right: 15px;
    }
}