.playerPage {
    background: rgba(0,0,0,.1);
    min-height: calc(100vh - 5vw);
    padding:20px;
    margin-left: 5.5vw;
    margin-top: 4vw;
    box-sizing: border-box;
    display: flex;
}
.videoPlayer {
    flex:4;
}
.playerPage iframe {
    width: 100%;
    height: 70vh;
    border: none;
}
.nextVideos {
    margin: 0 10px;
    flex:1;
    height: 100%;
}


/*@media screen and (max-width :1024px) {
    .playerPage iframe {
      width: 70%;
    }
    .nextVideos {
        display: none;
    }
}*/

/*after 920px adds an aside left menu and this component has m-l 75px*/
@media screen and (max-width :920px) {
    .playerPage {
      margin-left: 0px;
      margin-top: 60px;
      padding: 10px 0;
      flex-direction: column;
    }
    .nextVideos {
        width: 90%;
        /*tac*/
    }
    .playerPage iframe {
        width: 100%;
    }
}

@media screen and (max-width :1440px) and (min-width: 920px) {
    .playerPage {
        margin-left: 70px;
    }
}