.showMoreBtn {
    width: 40%;
    background-color: rgb(9, 255, 0);
    text-align: center;
    border-radius: 5px;
    font-size: 1.5vw;
    border: none;
    padding: .4vw;
    margin: 2vw auto;
}
.showMoreBtn:hover {
    cursor: pointer;
    background-color: rgb(32, 223, 25);
}
.showMoreBtn:focus {
    outline: none;
}
@media screen and (max-width :920px) {
    .showMoreBtn {
      font-size: 20px;
      margin: 20px auto;
    }
}