.searchVideoPreview {
    margin: 0 auto 1vw;
    display: flex;
    min-width: 260px;
    border:1px solid;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.searchVideoPreview:hover {
    cursor:pointer;
}
.searchVideoPreview_image {
    /*height: 58%;*/
    /*width: 30%;*/
    width: 100%;
    max-width: 300px;
    margin-right: 2vw;
}
.searchVideoPreviewInfo {
    box-sizing: border-box;
    overflow: hidden;
    max-width: 350px;
}
.searchVideoPreviewInfo h4 {
    margin: 1vw 0;
    font-size: 85%;
}
.searchVideoPreviewInfo h5,
.searchVideoPreviewInfo span {
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: rgba(0,0,0,.5);
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.searchVideoPreviewInfo h4 {
    display: flex;
    align-items: center;
}
.checkmark {
    height: 17px;
    opacity: .5;
}

@media screen and (max-width :920px) {
    .videoPreview {
        margin: 0;
    }
    .searchVideoPreview {
        padding: 0 1vw;
    }
}