.videoPreview {
    padding: 0.6vw;
    border: none;
    box-sizing: border-box;
    width: 25%;
    text-decoration: none;
    color: black;
}
.videoPreview:hover {
    cursor:pointer;
}
.videoPreview_image {
    width: 100%;
}
.videoPreviewInfo {
    width: 100%;
}
.videoPreviewInfo .title {
    font-size: 1.4vw;
    margin: 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.videoPreviewInfo h5,
.videoPreviewInfo span {
    margin: 2% 0;
    color: rgba(0,0,0,.5);
    font-size: 1.1vw;
}
.videoPreviewInfo h5 {
    display: flex;
    align-items: center;
    font-size: 1.1vw;
}
.checkmark {
    height: 1vw;
    opacity: .5;
    margin-right: 5px;
}

@media screen and (max-width :992px) {
    .videoPreviewInfo .title {
        font-size: 20px;
    }
    .videoPreviewInfo h5,
    .videoPreviewInfo span {
        font-size: 15px;
    }
    .videoPreview {
        width: 48%;
    }
    .checkmark {
        height: 17px;
    }
}
@media screen and (max-width :548px) {
    .videoPreview {
      width: 100%;
      margin-bottom: 30px;
      padding: 0;
    }
    .videoPreviewInfo {
        text-align: center;
    }
    .videoPreviewInfo h5 {
        justify-content: center;
    }

}