.mainPlayList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(180, 170, 170, 0.1);
    /**/
    padding:20px;
    margin-left: 5.5vw;
    margin-top: 4vw;
    /**/
    box-sizing: border-box;
}
.mainPlayList_title {
    width: 100%;
    padding-left: .6vw;
    padding-bottom: .7vw;
    /*for 4k display*/
    font-size: 1.8vw;
}
.loading {
  display: block;
  margin: 0 auto;
}
/*after 920px adds an aside left menu and this component has m-l 75px*/
@media screen and (max-width :548px) {
    .mainPlayList {
      padding: 0;
      margin-left: 0;
    }
}
@media screen and (max-width :920px) {
  .mainPlayList {
    margin-left: 0px;
    margin-top: 60px;
  }
  .mainPlayList_title {
    font-size: 25px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 920px) {
  .mainPlayList {
      margin-left: 70px;
  }
}