.mainPlayList {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0,0,0,.1);
    min-height: calc(100vh - 60px);
    padding:20px;
    margin-left: 75px;
    margin-top: 60px;
    box-sizing: border-box;
}
.mainPlayList_title {
    width: 100%;
    padding-left: 5px;
    padding-bottom: 10px;
}
/*after 720px adds an aside left menu and this component has m-l 75px*/
@media screen and (max-width :720px) {
    .mainPlayList {
      margin-left: 0px;
    }
}