header {
    display: flex;
    position: fixed;
    width: 100%;
    min-width: 350px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 999;
    height: 7vh;
    border-bottom:1px solid;
    padding: 0 1.7vw;
}

@media screen and (max-width :720px) {
    header {
      padding: 0 10px;
    }
}
@media screen and (max-width :920px) {
  header {
    padding: 0 27px;
  }
}