header {
    display: flex;
    position: fixed;
    width: 95%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    box-sizing: border-box;
    height: 60px;
    margin-left: 75px;
    z-index: 999;
}