.header_left {
    display: flex;
    align-items: center;
    width: 20%;
}
.header_logo {
    height: 4vw;
    min-height: 50px;
}
.header_logo:hover {
    cursor: pointer;
}

.header_menu_img {
    width: 1.8vw;
    opacity: .7;
    min-width: 30px;
    margin-right: 2vw;
    border-radius: 50%;
}
.header_menu_img:active {
    background-color: red;
}

/*@media screen and (max-width :920px) {
    .header_left {
        width: 200px;
    }
  }*/