.header_left {
    display: flex;
    align-items: center;
    width: 25%;
}
.header_logo {
    height: 7vh;
}
.header_logo:hover {
    cursor: pointer;
}

.header_menu_img {
    height: 4vh;
    opacity: .7;
    margin-right: 20px;
    border-radius: 50%;
}
.header_menu_img:active {
    background-color: red;
}

@media screen and (max-width :920px) {
    .header_left {
        width: 200px;
    }
  }