.right_icons {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 25%;
}
.right_icons img {
    padding: 0;
    height: 3.3vh;
    width: 3.3vh;
    opacity: .7;
}
.right_icons img:hover {
    opacity: 1;
}
@media screen and (max-width :720px) {
    .right_icons {
      width: 40%;
    }
}