.search_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0 1vw;
}
.header_search {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2vw;
    min-height: 30px;
    border: 1px solid rgba(0,0,0,.4);
    font-size: 1.5vw;
    padding-left: .7vw;
    box-sizing: border-box;
}
.header_search:focus {
    outline: none;
}
.header_search_btn {
    border:1px solid rgba(0,0,0,.4);
    height: 2.1vw;
    min-height: 30px;
    min-width: 45px;
    width: 5vw;
    display: flex;
    margin: 0;
}
.header_search_btn:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px 0px rgba(0,0,0,.3);
}
.header_search_btn:hover .header_search_btn_logo {
    opacity: 1;
}
.header_search_btn_logo {
    height: 50%;
    width: 25%;
    align-self: center;/* for ie */
    margin: auto;
    opacity: .7;
}

@media screen and (max-width :720px) {
    .search_wrap {
      display: none;
    }
}
@media screen and (max-width :1000px) {
    .header_search {
      font-size: 20px;
    }
    .header_search_btn_logo {
        width: 40%;
    }
}
@media screen and (max-width :1440px) {
    .header_search_btn_logo {
        width: 30%;
    }
}
