@import url('https://fonts.googleapis.com/css?family=Gugi');

.header_left {
    display: flex;
    align-items: center;
    width: 20%;
    height: 4vw;
}
.header_left a {
    text-decoration: none;
}
.header_logo {
    height: 4vw;
    min-height: 38px;
    font-family: 'Gugi', cursive;
    color: black;
    font-size: 1.5vw;
}
.header_logo b {
    color:red;
}
.header_logo:hover {
    cursor: pointer;
}

.header_menu_img {
    width: 1.8vw;
    opacity: .7;
    min-width: 25px;
    margin-right: 2vw;
    border-radius: 50%;
}

@media screen and (max-width :1440px) {
    .header_logo {
        font-size: 25px;
    }
}
@media screen and (max-width :1000px) {
    .header_left {
        height: 50px;
    }
    .header_logo {
        font-size: 20px;
    }
    .header_menu_img {
        margin-right: 10px;
    }
}