.right_icons {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 20%;
}
.right_icons img {
    padding: 0;
    height: 1.7vw;
    width: 1.7vw;
    min-height: 20px;
    min-width: 20px;
    opacity: .7;
}
.right_icons img:hover {
    opacity: 1;
}
.search_logo {
    display: none;
}
@media screen and (max-width :720px) {
    .right_icons {
      width: 40%;
    }
    .search_logo {
        display: block;
    }
}
@media screen and (max-width :1440px) {
    .right_icons img {
        padding: 0;
        height: 18px;
        width: 18px;
    }
}