.videos {
    background: rgba(0,0,0,.1);
    min-height: calc(100vh - 4vw);
    padding:20px;
    margin-left: 5.5vw;
    margin-top: 4vw;
    box-sizing: border-box;
}

@media screen and (max-width :1000px) {
    .videos {
      margin-left: 0px;
      margin-top: 50px;
    }
}

@media only screen and (min-width :1000px) and (max-width :1440px) {
  .videos {
    margin-left: 70px;
    color: green;
  }
}