.aside_menu {
    display: flex;
    position: fixed;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;
}
.aside_menu_link {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
    align-items: center;
    color: rgba(0,0,0,.6);
    font-size: 11px;
    transition: .2s;
}
.aside_menu_link:hover {
    background-color: rgba(0,0,0,.1);
}
.aside_menu_img {
    width: 20px;
    height: 20px;
    opacity: .7;
    padding-bottom: 10px;
}
/*do not showed at screen less then 720px*/
@media screen and (max-width :720px) {
    .aside_menu {
        padding-top: 0;
        position: fixed;
        width: 100%;
        min-width: 350px;
        bottom: 0;
        flex-direction: row;
        height: 55px;
        z-index: 1000;
    }
}

