.VideoInfo {
    font-size: 1.1vw;
    padding-top: .8vw;
    padding-bottom: 1vw;
    color: rgba(0,0,0,.6);
    font-weight: bold;
}
.VideoInfo_statistics {
    border-bottom: 2px solid rgba(0,0,0,.4);
}
.VideoInfo_statistics>div {
    margin-right: 30px;
}
.VideoInfo_titles {
    margin-bottom: 1vw;
}
.VideoInfo_statistics,
.VideoInfo_statistics_likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.VideoInfo_statistics_view {
    flex:2;
}
.VideoInfo_statistics_likes {
    padding: 1.2vw;
    border-bottom:10px solid rgba(0,0,0,.4);
    flex:2;
    justify-content: space-between;
}
.VideoInfo_statistics_links {
    display: flex;
    flex:1;
    align-items: center;
    font-size: 80%;
}
.VideoInfo_id {
    color: blue;
    margin-bottom: 10px;
}
.VideoInfo_statistics_likes div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.like_img,
.dislike_img,
.share_img,
.add_img {
    width: 1.5vw;
    margin-right: .5vw;
}
.like_img:hover,
.dislike_img:hover {
    cursor: pointer;
}
@media screen and (max-width :720px) {
    .VideoInfo_statistics_view {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .VideoInfo_statistics_view {
        display: none;
    }
}
@media screen and (max-width :1440px) {
    .VideoInfo {
        font-size: 16px;
        padding: 10px 10px;
    }
    .VideoInfo_statistics_likes {
        border-bottom:2px solid rgba(0,0,0,.4);
        padding: 10px 0;
        width: 40%;
    }
    .VideoInfo_titles {
        margin-bottom: 20px;
    }
    .like_img,
    .dislike_img,
    .share_img,
    .add_img {
        width: 20px;
        margin-right: 20px;
    }
}